.card{
  background: url('../../../assets/bus-img.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  height: 273px;
  border: 1px solid white;
  width: 80%;
  margin: 2rem auto;
  border-radius: 24px;
  padding: 12px;
  position: relative;
  .title-card{
    color: white;
    font-weight: 200;
    font-size: 20px;
    span {
      font-weight: bold;
    }
  }
  .btn-card{
    position: absolute;
    bottom: 12px;
    right: 12px;
  }
}
