<form class="form">
  <h3>Cadastre-se</h3>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput type="password">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Telefone</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <mat-form-field>
    <mat-label>CPF</mat-label>
    <input matInput type="number">
  </mat-form-field>
  <button mat-stroked-button>Entrar</button>
</form>
